<%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :teléfono %>
    <br>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :edad %>
    <br>
    <%= f.text_field :age %>
  </div>

  <div class="field">
    <%= f.label :dirección %>
    <br>
    <%= f.text_field :address %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar perfil", class: 'btn button-p05 m-tb-10' %>
    
  </div>
<% end %>